/* 表格样式 */
table {
    display: block;
    overflow-x: auto;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin: 1em 0;
    border-radius: 18px;
}

tbody,
thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tr {
    display: table-row;
}

th,
td {
    display: table-cell;
    border: 1px solid var(--cerebr-table-border-color);
    border-left: none;
    border-top: none;
    padding: 8px;
    text-align: left;
}

th:last-child,
td:last-child {
    border-right: 1px solid var(--cerebr-table-border-color);
}

tr:last-child td,
tr:last-child th {
    border-bottom: 1px solid var(--cerebr-table-border-color);
}

th:first-child,
td:first-child {
    border-left: 1px solid var(--cerebr-table-border-color);
}

tr:first-child th,
tr:first-child td {
    border-top: 1px solid var(--cerebr-table-border-color);
}

/* 圓角處理 - 只針對表格最外層角落 */
thead tr:first-child th:first-child,
table > tr:first-child th:first-child,
table > tr:first-child td:first-child,
table > tbody:first-child > tr:first-child td:first-child {
    border-top-left-radius: 17px;
}

thead tr:first-child th:last-child,
table > tr:first-child th:last-child,
table > tr:first-child td:last-child,
table > tbody:first-child > tr:first-child td:last-child {
    border-top-right-radius: 17px;
}

tbody tr:last-child td:first-child,
table > tr:last-child td:first-child {
    border-bottom-left-radius: 17px;
}

tbody tr:last-child td:last-child,
table > tr:last-child td:last-child {
    border-bottom-right-radius: 17px;
}

th {
    background-color: var(--cerebr-code-block-bg);
    font-weight: bold;
    position: relative;
}

/* 欄位寬度調整手柄 */
th .resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    cursor: col-resize;
    background: transparent;
    z-index: 1;
}

th .resize-handle:hover,
th .resize-handle.resizing {
    background: var(--cerebr-table-border-color);
}

/* 調整中的表格樣式 */
table.resizing {
    cursor: col-resize;
    user-select: none;
}

table.resizing th,
table.resizing td {
    user-select: none;
}
